# Dependências
node_modules/
package-lock.json
yarn.lock

# Variáveis de ambiente
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de sistema
.DS_Store
Thumbs.db

# Diretórios de build e cache
/dist
/build
/.cache
/coverage
/.nyc_output

# Arquivos temporários
/tmp
*.tmp
*.temp

# Arquivos de banco de dados
*.sqlite
*.sqlite3
*.db

# Arquivos de IDE e editores
/.idea
/.vscode
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Outros
.vercel
.netlify
